* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

h2 {
    font-weight: normal;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #673ab7;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.modal-window {
    position: absolute;
    left: calc(50vw - 250px);
    top: 200px;
    width: 500px;
}

.aviso {
    font-size: 1.2rem;
    color: red;
}

.wrapper {
    width: 100%;
}

.container {
    width: 95%;
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
}

login-form {
    margin: auto;
}

empresas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.empresas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.full {
    width: 100%;
}

.hide {
    display: none;
}


/* Table */
.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    background: #fff;
}

.header-row {
    display: table-row;
    background: #fff59d;
}

.header-cell {
    display: table-cell;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.6rem;
}

.row {
    display: table-row;
    transition: background-color, 0.2s;
}

.cell {
    display: table-cell;
	padding: 0.3rem;
    vertical-align: middle;
}


/* Material components */
md-card-title {
    margin: -24px -24px 24px -24px !important;
}

md-input {
    font-size: 0.9rem !important;
}

button[md-mini-fab] {
    width: 35px;
    height: 35px;
}
