.header-cell {
    max-width: 150px;
}

.fechas {
    width: 100%;
}

.row:hover {
    background-color: #eee;
}

input[type="text"] {
    font-size: 0.9rem;
    border: 0;
    padding: 0.2rem;
    outline: 0;
}
