<md-card>
    <md-card-title>
        <md-toolbar color="accent">Tablas</md-toolbar>
    </md-card-title>
    <md-card-content>
            <md-tab-group>
                <md-tab>
                    <template md-tab-label>Usuarios</template>
                    <template md-tab-content>
                        <tab-usuarios-empresa></tab-usuarios-empresa>
                    </template>
                </md-tab>
                <md-tab>
                    <template md-tab-label>Controles</template>
                    <template md-tab-content>
                        <tab-controles-empresa></tab-controles-empresa>
                    </template>
                </md-tab>
                <md-tab>
                    <template md-tab-label>Tab3</template>
                    <template md-tab-content>
                        Other Tab 3
                    </template>
                </md-tab>
            </md-tab-group>
    </md-card-content>
</md-card>
