<div class="login-form">
    <md-card>
        <md-card-title>
            <md-toolbar color="accent">Login form</md-toolbar>
        </md-card-title>
        <form *ngIf="active" (ngSubmit)="onSubmit(user.value, password.value)" #loginForm="ngForm">
            <md-card-content>
                    <md-input class="full" placeholder="User" type="text" id="user" required [(ngModel)]="user.value" name="user" #user="ngModel"></md-input>
                    <md-input class="full" placeholder="Password" type="password" id="password" required [(ngModel)]="password.value" name="password" #password="ngModel"></md-input>
            </md-card-content>
            <md-card-footer>
                <button md-raised-button color="accent" [disabled]="!loginForm.form.valid" type="submit">Enviar</button>
            </md-card-footer>
        </form>
    </md-card>
</div>
