<div *ngIf="seleccionada != 0">
    <h2>Controles</h2>
    <div class="table">
        <div class="header-row">
            <span class="header-cell">Control</span>
            <span class="header-cell">Permiso</span>
        </div>
        <form class="row"
            *ngFor="let control of controles"
            (ngSubmit)="actualizarControlchecklist(control.id)"
            #actualizarControlchecklistForm="ngForm"
        >
            <span class="cell">{{control.nombre}}</span>
            <span class="cell">
                <md-checkbox>Permitido</md-checkbox>
                <!--<button md-button color="primary" [disabled]="!guardar[control.id]" type="submit">Guardar</button>                -->
            </span>
        </form>
    </div>
</div>
