<div *ngIf="seleccionada != 0">
    <h2>Control checklists</h2>
    <div class="table">
        <form class="row" *ngIf="active" (ngSubmit)="crearControlchecklist(nombre.value)" #crearControlchecklistForm="ngForm">
            <span class="cell">
                <input type="text" name="nombre" placeholder="nombre" [(ngModel)]="nombre.value" required #nombre="ngModel">
            </span>
            <span class="cell"></span>
            <span class="cell">
                <button md-raised-button color="accent" [disabled]="!crearControlchecklistForm.form.valid" type="submit">Crear</button>
            </span>
        </form>
        <div class="header-row">
            <span class="header-cell">Nombre</span>
            <span class="header-cell"></span>
            <span class="header-cell"></span>
        </div>
        <form class="row"
            *ngFor="let controlchecklist of controlchecklists"
            (ngSubmit)="actualizarControlchecklist(controlchecklist.id)"
            #actualizarControlchecklistForm="ngForm"
        >
            <span class="cell">
                <input type="text" name="modNombre" [(ngModel)]="controlchecklist.nombre" (keyup)="modificarControlchecklist(controlchecklist.id)" #modNombre="ngModel">
            </span>
            <span class="cell">
                <button md-button color="primary" (click)="borrarControlchecklist(controlchecklist.id)" type="button">Borrar</button>
            </span>
            <span class="cell">
                <button md-button color="primary" [disabled]="!guardar[controlchecklist.id]" type="submit">Guardar</button>                
            </span>
        </form>
    </div>
</div>
