<md-card>
    <md-card-title>
        <md-toolbar color="accent">Nueva empresa</md-toolbar>
    </md-card-title>
    <form *ngIf="active" (ngSubmit)="nuevaEmpresa(nombre.value, nif.value)" #nuevaEmpresaForm="ngForm">
        <md-card-content>
            <md-input class="full" placeholder="Nombre" type="text" required [(ngModel)]="nombre.value" name="nombre" #nombre="ngModel"></md-input>
            <md-input class="full" placeholder="NIF" type="text" required [(ngModel)]="nif.value" name="nif" #nif="ngModel"></md-input>
        </md-card-content>
        <md-card-footer>
            <button md-raised-button color="accent" [disabled]="!nuevaEmpresaForm.form.valid" type="submit">Crear</button>
        </md-card-footer>
    </form>
</md-card>
