<div class="table">
    <form class="row" *ngIf="active"
        (ngSubmit)="crearControl(nombre.value, pla.value, valorminimo.value, valormaximo.value, objetivo.value,
            tolerancia.value, critico.value, periodicidad.value, tipoperiodo.value)"
        #crearControlForm="ngForm"
    >
        <span class="cell">
            <input type="text" name="nombre" placeholder="nombre" [(ngModel)]="nombre.value" required #nombre="ngModel">
        </span>
        <span class="cell">
            <input type="text" name="pla" placeholder="" [(ngModel)]="pla.value" required #pla="ngModel">
        </span>
        <span class="cell">
            <input class="small" type="text" name="valorminimo" placeholder="" [(ngModel)]="valorminimo.value" required #valorminimo="ngModel">
        </span>
        <span class="cell">
            <input class="small" type="text" name="valormaximo" placeholder="" [(ngModel)]="valormaximo.value" required #valormaximo="ngModel">
        </span>
        <span class="cell">
            <input class="small" type="text" name="objetivo" placeholder="" [(ngModel)]="objetivo.value" required #objetivo="ngModel">
        </span>
        <span class="cell">
            <input class="small" type="text" name="tolerancia" placeholder="" [(ngModel)]="tolerancia.value" required #tolerancia="ngModel">
        </span>
        <span class="cell">
            <input class="small" type="text" name="critico" placeholder="" [(ngModel)]="critico.value" required #critico="ngModel">
        </span>
        <span class="cell">
            <input class="small" type="text" name="periodicidad" placeholder="" [(ngModel)]="periodicidad.value" required #periodicidad="ngModel">
        </span>
        <span class="cell">
            <input type="text" name="tipoperiodo" placeholder="" [(ngModel)]="tipoperiodo.value" required #tipoperiodo="ngModel">
        </span>
        <span class="cell"></span>
        <span class="cell">
            <button md-raised-button color="accent" [disabled]="!crearControlForm.form.valid" type="submit">Crear</button>
        </span>
    </form>
    <div class="header-row">
        <span class="header-cell">Control</span>
        <span class="header-cell">Pla</span>
        <span class="header-cell small">min</span>
        <span class="header-cell small">max</span>
        <span class="header-cell small">obj</span>
        <span class="header-cell small">tol</span>
        <span class="header-cell small">crit</span>
        <span class="header-cell small">per</span>
        <span class="header-cell">Periodo</span>
        <span class="header-cell"></span>
        <span class="header-cell"></span>
    </div>
    <form class="row"
        *ngFor="let control of controles"
        (ngSubmit)="actualizarControl(control.id)"
        #actualizarControlForm="ngForm"
    >
        <span class="cell">
            <input type="text" name="modNombre" [(ngModel)]="control.nombre" (keyup)="modificarControl(control.id)" #modNombre="ngModel">
        </span>
        <span class="cell">
            <input type="text" name="modPla" [(ngModel)]="control.pla" (keyup)="modificarControl(control.id)" #modPla="ngModel">
        </span>
        <span class="cell">
            <input class="small" type="text" name="modValorMinimo" [(ngModel)]="control.valorminimo" (keyup)="modificarControl(control.id)" #modValorMinimo="ngModel">
        </span>
        <span class="cell">
            <input class="small" type="text" name="modValorMaximo" [(ngModel)]="control.valormaximo" (keyup)="modificarControl(control.id)" #modValorMaximo="ngModel">
        </span>
        <span class="cell">
            <input class="small" type="text" name="modObjetivo" [(ngModel)]="control.objetivo" (keyup)="modificarControl(control.id)" #modObjetivo="ngModel">
        </span>
        <span class="cell">
            <input class="small" type="text" name="modTolerancia" [(ngModel)]="control.tolerancia" (keyup)="modificarControl(control.id)" #modTolerancia="ngModel">
        </span>
        <span class="cell">
            <input class="small" type="text" name="modCritico" [(ngModel)]="control.critico" (keyup)="modificarControl(control.id)" #modCritico="ngModel">
        </span>
        <span class="cell">
            <input class="small" type="text" name="modPeriodicidad" [(ngModel)]="control.periodicidad" (keyup)="modificarControl(control.id)" #modPeriodo="ngModel">
        </span>
        <span class="cell">
            <input type="text" name="modTipoPeriodo" [(ngModel)]="control.tipoperiodo" (keyup)="modificarControl(control.id)" #modTipoPeriodo="ngModel">
        </span>
        <span class="cell">
            <button md-button color="primary" (click)="borrarControl(control.id)" type="button">Borrar</button>
        </span>
        <span class="cell">
            <button md-button color="primary" [disabled]="!guardar[control.id]" type="submit">Guardar</button>                
        </span>
    </form>
</div>
