<table>
    <thead>
        <tr>
            <th>Control</th>
            <th>pla-appc</th>
            <th>Mínimo</th>
            <th>Máximo</th>
            <th>Objetivo</th>
            <th>Tolerancia</th>
            <th>Crítico</th>
            <th>Periodicidad</th>
            <th>Periodo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr *ngFor="let usuario of usuarios">
            <td>
                <input [value]="usuario.nombre" type="text">
            </td>
            <td>
                <input [value]="usuario.password" type="text">
            </td>
            <td>
                <select [value]="usuario.tipo">
                    <option>Administrador</option>
                    <option>Normal</option>
                </select>
            </td>
            <td class="center">
                <button md-button>Borrar</button>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
