<!-- Modal aviso borrado checklist -->
<div class="modal" *ngIf="modal">
    <div class="modal-window">
        <md-card>
            <md-card-content>
                <p class="aviso">¿Estás seguro de querer eliminar la checklist?</p>
                <p>Se borrarán los resultados asociados a la checklist y los permisos de los usuarios.</p>
                <button md-button color="primary" (click)="borrarChecklist()" type="submit">Eliminar</button>
                <button md-button color="primary" (click)="noBorrar()" type="submit">Cancelar</button>
            </md-card-content>
        </md-card>
    </div>
</div>

<div class="left">
    <div class="seleccionar-checklist">
        <h2>Checklist</h2>
        <form>
            <select (change)="mostrarControlchecklist($event.target.value)">
                <option *ngFor="let checklist of checklists" [value]="checklist.id">
                    {{checklist.nombrechecklist}}
                </option>
            </select>
        </form>
        <button md-button color="primary" (click)="checkBorrar()" type="submit">Eliminar</button>
    </div>

    <div class="nueva-checklist">
        <h2>Nueva checklist</h2>
        <form *ngIf="active" (ngSubmit)="nuevaChecklist(nombreChecklist.value)" #nuevaChecklistForm="ngForm">
            <md-input class="full" placeholder="Nombre" type="text" required [(ngModel)]="nombreChecklist.value" name="nombreChecklist" #nombreChecklist="ngModel"></md-input>
            <button md-raised-button color="accent" [disabled]="!nuevaChecklistForm.form.valid" type="submit">Crear</button>
        </form>
    </div>
</div>
<div class="mostrar-checklist">
    <div *ngIf="checklistNumber != 0">
        <h2>Control checklists</h2>
        <div class="table">
            <form class="row" *ngIf="active" (ngSubmit)="crearControlchecklist(nombre.value)" #crearControlchecklistForm="ngForm">
                <span class="cell">
                    <input type="text" name="nombre" placeholder="nombre" [(ngModel)]="nombre.value" required #nombre="ngModel">
                </span>
                <span class="cell"></span>
                <span class="cell">
                    <button md-raised-button color="accent" [disabled]="!crearControlchecklistForm.form.valid" type="submit">Crear</button>
                </span>
            </form>
            <div class="header-row">
                <span class="header-cell">Nombre</span>
                <span class="header-cell"></span>
                <span class="header-cell"></span>
            </div>
            <form class="row"
                *ngFor="let controlchecklist of controlchecklists"
                (ngSubmit)="actualizarControlchecklist(controlchecklist.id)"
                #actualizarControlchecklistForm="ngForm"
            >
                <span class="cell">
                    <input type="text" name="modNombre" [(ngModel)]="controlchecklist.nombre" (keyup)="modificarControlchecklist(controlchecklist.id)" #modNombre="ngModel">
                </span>
                <span class="cell">
                    <button md-button color="primary" (click)="borrarControlchecklist(controlchecklist.id)" type="button">Borrar</button>
                </span>
                <span class="cell">
                    <button md-button color="primary" [disabled]="!guardar[controlchecklist.id]" type="submit">Guardar</button>                
                </span>
            </form>
        </div>
    </div>
</div>
