<form *ngIf="active" (ngSubmit)="crearUsuario(usuario.value, password.value, tipo.value)" #crearForm="ngForm">
    <table>
        <tr>
            <td>
                <input type="text" name="usuario" placeholder="usuario" [(ngModel)]="usuario.value" required #usuario="ngModel">
            </td>
            <td>
                <input type="text" name="password" placeholder="password" [(ngModel)]="password.value" required #password="ngModel">                
            </td>
            <td>
                <select name="tipo" [(ngModel)]="tipo.value" required #tipo="ngModel">
                    <option>Normal</option>
                    <option>Gerente</option>
                    <option>Administrador</option>
                </select>
            </td>
            <td></td>
            <td>
                <button md-raised-button color="accent" [disabled]="!crearForm.form.valid" type="submit">Crear</button>
            </td>
        </tr>
    </table>
</form>

<table>
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Password</th>
            <th>Tipo</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
            <td>
                <input [value]="usuario.usuario" type="text">
            </td>
            <td>
                <input [value]="usuario.password" type="text">
            </td>
            <td>
                <select [value]="usuario.tipouser">
                    <option>Normal</option>
                    <option>Gerente</option>
                    <option>Administrador</option>
                </select>
            </td>
            <td>
                <button md-button (click)="borrarUsuario(usuario.id)">Borrar</button>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
