.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    margin: auto;
    background-color: #e91e63;
    color: #fff;
    min-height: 56px;
    box-shadow: 0 0px 10px 0px rgba(0,0,0,0.2);
    background: linear-gradient(45deg ,#F5F5F5, #FAFAFA, #F5F5F5);
    z-index: 10;
}

nav {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.logo img {
    height: 50px;
    padding: 5px 0.3rem 0;
}
