select {
    min-width: 300px;
    font: 600 1.2rem 'Open Sans', sans-serif;
    border: 1px solid #FF9800;
    background: #FFF3E0;
	/*background: url('../img/down_arrow.png') no-repeat right #eee;*/
	/*-webkit-appearance: none;*/
}

select:focus {
	outline: 0;
}

h2 {
    font: 400 1rem/2rem 'OpenSans', sans-serif;
    margin: 0 auto 0.3rem;
}
