table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    background: #fff;
}

tr {
    display: table-row;
    transition: background-color, 0.2s;
}

tr:hover {
    background-color: #eee;
}

th {
    background: #fff59d;
	padding: 0.5rem 0.8rem;
}

td {
	padding: 0.5rem 0.8rem;   
    border: 1px solid #fafafa;
}

input[type="text"] {
    border: 0;
    padding: 0.2rem 0.4rem;
    outline: 0;
}

 select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-width: 150px;
    font-size: 1rem;
    border: 0;
    border-radius: 0;
    padding: 0.2rem 0.3rem;
	background: url('public/assets/images/down_arrow.png') no-repeat 97% 50% #fff;
}
    
select:focus {
	outline: 0;
}

input {
    font-size: 1rem;
}
