.left {
    width: 50%;
    padding-right: 4%;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
}

.seleccionar-checklist,
.nueva-checklist {
    width: 100%;
    float: left;
}

.mostrar-checklist {
    width: 50%;
    padding-left: 4%;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-width: 300px;
    font: 600 1rem 'Open Sans', sans-serif;
    border: 1px solid #fbc02d;
    border-radius: 0;
    padding: 0.3rem 0.6rem;
	background: url('public/assets/images/keyboard_arrow_down.svg') no-repeat 97% 50% #fff9c4;
    outline: 0;
}

.row:hover {
    background-color: #eee;
}

input[type="text"] {
    font-size: 1rem;
    border: 0;
    padding: 0.2rem;
    outline: 0;
}
