.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    background: #fff;
}

.header-row {
    display: table-row;
    background: #fff59d;
    font-size: 1rem;
    font-weight: 400;
}

.row {
    display: table-row;
    transition: background-color, 0.2s;
}

.row:hover {
    background-color: #eee;
}

.cell {
    display: table-cell;
	padding: 0.5rem 0.8rem;   
    border: 1px solid #fafafa;
}

input[type="text"] {
    font-size: 1rem;
    border: 0;
    padding: 0.2rem 0.4rem;
    outline: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-width: 150px;
    font-size: 1rem;
    border: 0;
    border-radius: 0;
    padding: 0.2rem 0.3rem;
	background: url('public/assets/images/keyboard_arrow_down.svg') no-repeat 97% 50% #fff;
}
    
select:focus {
	outline: 0;
}
