.foto-link {
  cursor: pointer;
  color: #673ab7;
}

.foto-link:hover {
  color: #673ab7;
  opacity: 0.6;
}

.header-cell {
  max-width: 150px;
}

.fechas {
  width: 100%;
}

.material-icons {
  vertical-align: middle;
}

.red {
  color: red;
}

.red .tooltip {
  display: none;
  position: absolute;
  right: -100px;
  z-index: 5;
}

.red:hover .tooltip {
  display: inline;
  vertical-align: middle;
}
