<div [class.hide]="empresasService.seleccionada == 0">
  <md-card>
    <md-card-title>
      <md-toolbar color="accent">Informes</md-toolbar>
    </md-card-title>
    <md-card-subtitle>
      <button md-button color="primary" [attr.md-raised-button]="tabs[0]"
        (click)="cambiarTab(0)">{{'Controles' | translate}}</button>
      <button md-button color="primary" [attr.md-raised-button]="tabs[1]"
        (click)="cambiarTab(1)">Checklists</button>
      <button md-button color="primary" [attr.md-raised-button]="tabs[2]"
        (click)="cambiarTab(2)">{{'Periodicidad' | translate}}</button>
    </md-card-subtitle>
    <md-card-content>
      <informe-controles class="tab" [class.active]="tabActivo == 0"></informe-controles>
      <informe-checklists class="tab" [class.active]="tabActivo == 1"></informe-checklists>
      <informe-periodicidad class="tab" [class.active]="tabActivo == 2"></informe-periodicidad>
    </md-card-content>
  </md-card>
</div>
