<div class="seleccionar-usuario">
  <h2>{{'Usuario' | translate}}</h2>
  <form>
    <select (change)="seleccionarUsuario($event.target.value)">
      <option *ngFor="let usuario of usuarios" [value]="usuario.id">
        {{usuario.usuario}}
      </option>
    </select>
  </form>
</div>

<div class="marcar-controles" *ngIf="usuarioSeleccionado != 0">
  <h2>{{'Controles' | translate}}</h2>
  <div class="table">
    <div class="header-row">
      <span class="header-cell">Control</span>
      <span class="header-cell">{{'Permiso' | translate}}</span>
    </div>
    <div class="row" *ngFor="let control of controles">
      <span class="cell">
        {{control.nombre}}
      </span>
      <span class="cell">
        <md-checkbox [disabled]="!empresasService.administrador"  [checked]="checkControl[control.id]" (change)="changeControl(control.id)">
          {{'Permitido' | translate}}
        </md-checkbox>
      </span>
    </div>
  </div>
</div>

<div class="marcar-checklists" *ngIf="usuarioSeleccionado != 0">
  <h2>Checklists</h2>
  <div class="table">
    <div class="header-row">
      <span class="header-cell">Control</span>
      <span class="header-cell">{{'Permiso' | translate}}</span>
    </div>
    <div class="row" *ngFor="let checklist of checklists">
      <span class="cell">
        {{checklist.nombrechecklist}}
      </span>
      <span class="cell">
        <md-checkbox [disabled]="!empresasService.administrador" [checked]="checkChecklist[checklist.id]" (change)="changeChecklist(checklist.id)">
          {{'Permitido' | translate}}
        </md-checkbox>
      </span>
    </div>
  </div>
</div>
