<!-- Modal aviso usuario erróneo -->
<div class="modal" *ngIf="modal">
  <div class="modal-window">
    <md-card>
      <md-card-content>
        <p class="aviso">Usuario incorrecto</p>
        <button md-raised-button (click)="cerrarModal()">Cerrar</button>
      </md-card-content>
    </md-card>
  </div>
</div>

<div class="login-form">
  <md-card>
    <md-card-title>
      <md-toolbar color="accent">Login</md-toolbar>
    </md-card-title>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
      <md-card-content>
        <md-input class="full-width" type="text" required placeholder="Usuario" [(ngModel)]="usuario.user" name="user"></md-input>
        <md-input class="full-width" type="password" required placeholder="Password" [(ngModel)]="usuario.password" name="password"></md-input>
      </md-card-content>
      <md-card-footer>
        <button md-raised-button color="accent" type="submit" [disabled]="!loginForm.form.valid">Enviar</button>
      </md-card-footer>
    </form>
  </md-card>
</div>
