<!-- Modal aviso borrado usuario -->
<div class="modal" *ngIf="modal">
  <div class="modal-window">
    <md-card>
      <md-card-content>
        <p class="aviso">¿Estás seguro de querer eliminar el usuario?</p>
        <p>Se borrarán todos sus permisos.</p>
        <button md-button color="primary" (click)="borrarUsuario()" type="submit">Eliminar</button>
        <button md-button color="primary" (click)="noBorrar()" type="submit">Cancelar</button>
      </md-card-content>
    </md-card>
  </div>
</div>

<div class="table">
  <form class="row" #crearUsuarioForm="ngForm" (ngSubmit)="crearUsuario(crearUsuarioForm.value)">
    <span class="cell">
      <input type="text" placeholder="Usuario" required [(ngModel)]="nuevoUsuario.usuario" name="usuario">
    </span>
    <span class="cell">
      <input type="text" placeholder="Password" required [(ngModel)]="nuevoUsuario.password" name="password">                
    </span>
    <span class="cell">
      <select name="tipouser" required [(ngModel)]="nuevoUsuario.tipouser" name="tipouser">
        <option>Normal</option>
        <option>Gerente</option>
        <option>Administrador</option>
      </select>
    </span>
    <span class="cell"></span>
    <span class="cell">
      <button md-mini-fab color="accent" [disabled]="!crearUsuarioForm.form.valid" type="submit">
        <span class="material-icons">add</span>
      </button>
    </span>
  </form>
  <div class="header-row">
    <span class="header-cell">Usuario</span>
    <span class="header-cell">Password</span>
    <span class="header-cell">Tipo</span>
    <span class="header-cell"></span>
    <span class="header-cell"></span>
  </div>
  <form class="row" #actualizarUsuarioForm="ngForm" (ngSubmit)="actualizarUsuario(usuario.id)" *ngFor="let usuario of usuarios">
    <span class="cell">
      <input type="text" [(ngModel)]="usuario.usuario" name="modUsuario" (keyup)="modificarUsuario(usuario.id)">
    </span>
    <span class="cell">
      <input type="text" [(ngModel)]="usuario.password" name="modPassword" (keyup)="modificarUsuario(usuario.id)">
    </span>
    <span class="cell">
      <select [(ngModel)]="usuario.tipouser" name="modTipo" (change)="modificarUsuario(usuario.id)">
        <option>Normal</option>
        <option>Gerente</option>
        <option>Administrador</option>
      </select>
    </span>
    <span class="cell">
      <button md-mini-fab color="primary" (click)="checkBorrar(usuario.id)" type="submit">
        <span class="material-icons">close</span>
      </button>
    </span>
    <span class="cell">
      <button md-mini-fab color="primary" [disabled]="!guardar[usuario.id]" type="submit">
        <span class="material-icons">check</span>
      </button>                
    </span>
  </form>
</div>
