<div class="login-form">
    <md-card>
        <md-card-title>
            <md-toolbar color="accent">Login form</md-toolbar>
        </md-card-title>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
            <md-card-content>
                <md-input class="full" placeholder="Usuario" type="text" required [(ngModel)]="usuario.user" name="user"></md-input>
                <md-input class="full" placeholder="Password" type="password" required [(ngModel)]="usuario.password" name="password"></md-input>
            </md-card-content>
            <md-card-footer>
                <button md-raised-button color="accent" [disabled]="!loginForm.form.valid" type="submit">Enviar</button>
            </md-card-footer>
        </form>
    </md-card>
</div>
