<!-- Modal aviso borrado control-->
<div class="modal" *ngIf="modal">
    <div class="modal-window">
        <md-card>
            <md-card-content>
                <p class="aviso">¿Estás seguro de querer eliminar el control?</p>
                <p>Se borrarán los resultados asociados al control y los permisos de los usuarios.</p>
                <button md-button color="primary" (click)="borrarControl()" type="submit">Eliminar</button>
                <button md-button color="primary" (click)="noBorrar()" type="submit">Cancelar</button>
            </md-card-content>
        </md-card>
    </div>
</div>

<div class="table">
    <form class="row" #crearControlForm="ngForm" (ngSubmit)="crearControl(crearControlForm.value)">
        <input type="hidden" [(ngModel)]="nuevoControl.id" name="id">
        <span class="cell">
            <input type="text" placeholder="Nombre" required [(ngModel)]="nuevoControl.nombre" name="nombre">
        </span>
        <span class="cell">
            <input type="text" placeholder="Pla" required [(ngModel)]="nuevoControl.pla" name="pla">
        </span>
        <span class="cell">
            <input class="small" type="text" placeholder="0" required [(ngModel)]="nuevoControl.valorminimo" name="valorminimo">
        </span>
        <span class="cell">
            <input class="small" type="text" placeholder="0" required [(ngModel)]="nuevoControl.valormaximo" name="valormaximo">
        </span>
        <span class="cell">
            <input class="small" type="text" placeholder="0" required [(ngModel)]="nuevoControl.objetivo" name="objetivo">
        </span>
        <span class="cell">
            <input class="small" type="text" placeholder="0" required [(ngModel)]="nuevoControl.tolerancia" name="tolerancia">
        </span>
        <span class="cell">
            <input class="small" type="text" placeholder="0" required [(ngModel)]="nuevoControl.critico" name="critico">
        </span>
        <span class="cell">
            <input class="small" type="text" placeholder="0" required [(ngModel)]="nuevoControl.periodicidad" name="periodicidad">
        </span>
        <span class="cell">
            <input type="text" placeholder="Periodo" required [(ngModel)]="nuevoControl.tipoperiodo" name="tipoperiodo">
        </span>
        <span class="cell"></span>
        <span class="cell">
            <button md-mini-fab color="accent" [disabled]="!crearControlForm.form.valid" type="submit">
                <span class="material-icons">add</span>
            </button>
        </span>
    </form>
    <div class="header-row">
        <span class="header-cell">Control</span>
        <span class="header-cell">Pla</span>
        <span class="header-cell small">min</span>
        <span class="header-cell small">max</span>
        <span class="header-cell small">obj</span>
        <span class="header-cell small">tol</span>
        <span class="header-cell small">crit</span>
        <span class="header-cell small">per</span>
        <span class="header-cell">Periodo</span>
        <span class="header-cell"></span>
        <span class="header-cell"></span>
    </div>
    <form class=" row"#actualizarControlForm="ngForm" (ngSubmit)="actualizarControl(control.id)" *ngFor="let control of controles">
        <span class="cell">
            <input type="text" [(ngModel)]="control.nombre" name="modNombre" (keyup)="modificarControl(control.id)">
        </span>
        <span class="cell">
            <input type="text" [(ngModel)]="control.pla" name="modPla" (keyup)="modificarControl(control.id)">
        </span>
        <span class="cell">
            <input class="small" type="text" [(ngModel)]="control.valorminimo" name="modValorMinimo" (keyup)="modificarControl(control.id)">
        </span>
        <span class="cell">
            <input class="small" type="text" [(ngModel)]="control.valormaximo" name="modValorMaximo" (keyup)="modificarControl(control.id)">
        </span>
        <span class="cell">
            <input class="small" type="text" [(ngModel)]="control.objetivo" name="modObjetivo" (keyup)="modificarControl(control.id)">
        </span>
        <span class="cell">
            <input class="small" type="text" [(ngModel)]="control.tolerancia" name="modTolerancia" (keyup)="modificarControl(control.id)">
        </span>
        <span class="cell">
            <input class="small" type="text" [(ngModel)]="control.critico" name="modCritico" (keyup)="modificarControl(control.id)">
        </span>
        <span class="cell">
            <input class="small" type="text" [(ngModel)]="control.periodicidad" name="modPeriodicidad" (keyup)="modificarControl(control.id)">
        </span>
        <span class="cell">
            <input type="text" [(ngModel)]="control.tipoperiodo" name="modTipoPeriodo" (keyup)="modificarControl(control.id)">
        </span>
        <span class="cell">
            <button md-mini-fab color="primary" (click)="checkBorrar(control.id)" type="submit">
                <span class="material-icons">close</span>
            </button>
        </span>
        <span class="cell">
            <button md-mini-fab color="primary" [disabled]="!guardar[control.id]" type="submit">
                <span class="material-icons">check</span>
            </button>                
        </span>
    </form>
</div>
