<h2>Informes de checklist</h2>

<div class="seleccionar-checklist">
    <h2>Checklist</h2>
    <form>
        <select (change)="cambioChecklist($event.target.value)">
            <option *ngFor="let checklist of checklists" [value]="checklist.id">
                {{checklist.nombrechecklist}}
            </option>
        </select>
    </form>
</div>

<div class="fechas">
    <form #filtrarFechasForm="ngForm" (ngSubmit)="filtrarFechas(filtrarFechasForm.value)">
        <md-input type="date" placeholder="Inicio" required [(ngModel)]="fecha.inicio" name="inicio"></md-input>
        <md-input type="date" placeholder="Fin" required [(ngModel)]="fecha.fin" name="fin"></md-input>
        <button md-mini-fab color="primary" [disabled]="!filtrarFechasForm.form.valid" type="submit">
            <span class="material-icons">check</span>
        </button>                
    </form>
</div>

<div class="table">
    <div class="header-row">
        <span class="header-cell">Fecha</span>
        <span class="header-cell">Imagen</span>
        <span class="header-cell" *ngFor="let columna of columnas">{{columna}}</span>
    </div>
    <div class="row" *ngFor="let resultado of tabla">
        <span class="cell">{{resultado.fecha | date: "dd/MM/yyyy"}}</span>
        <span class="cell" *ngIf="resultado.foto">
            <a href="http://tfc.ntskoala.com/controles/{{empresasService.seleccionada}}/control{{resultado.id}}.jpg" target="_blank">
                <span class="material-icons">image</span>
            </a>
        </span>
        <span class="cell" *ngIf="!resultado.foto">
            <span class="material-icons">close</span>
        </span>
        <span class="cell" *ngFor="let columna of columnas">
            {{resultado[columna]}}
        </span>
    </div>

</div>
